<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highLight>sit amet consectetur adipisicing elit</span>. Minus facere praesentium aperiam iste sed non doloribus
        tempora molestiae quibusdam provident dolorum hic, eos exercitationem omnis porro ab est aspernatur eaque?</p>
    <p class="text-xs">
        Numero de clientes
        @if (duration()>0) {
        <app-counter [duration]="duration()" [message]="message()" />
        }
    </p>
    <div>
        <app-wave-audio audioUrl="assets/audio.mp3"/>
    </div>
</div>